@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(139, 0, 139);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
}
header {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counters {
    background-color: #340652;
    padding: 40px 20px;
    border-top: 5px lightskyblue solid;
}
.counters .container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.counters .counter {
    color: lightskyblue;
    font-size: 45px;
    margin: 10px 0;
}
h1 {
    font-size: 60px;
    color: rgb(26, 349, 14);
}
h3 {
    color: rgb(243, 160, 7);
}
.fa-youtube {
    color: red;
}
.fa-twitter {
    color: #00ACEE;
}
.fa-facebook {
    color: #4267B2;
}
.fa-linkedin {
    color: #0077b5; 
}

@media(max-width: 700px) {
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .counters .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .counters .container > div:nth-of-type(1), .counters .container > div:nth-of-type(2) {
        border-bottom: 1px lightskyblue solid;
        padding-bottom: 20px;
    }
}
